
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/system-color */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body > header {
    padding: 0 1rem;
}
body > main {
    flex-grow: 1;
    padding: 0 1rem 1rem;
}
body > footer {
    z-index: 1000;
    position: sticky;
    bottom: 0;
    padding: 0.5rem;
    background-color: Canvas;
    border-top: thin dotted CanvasText;
    font-size: small;
}

header h1 {
    margin-bottom: 0;
}
footer a {
    text-decoration: none;
}

.node {
    margin-top: 1rem;
    border: thin dotted CanvasText;
    border-left: thick solid #006;
    padding: 1rem;
}
.node + .node {
    margin-top: 0;
}
.node-title {
    font-weight: bold;
    background-color: Field;
    padding: 0.2rem 0.3rem 0;
}
.node-info {
    font-size: small;
    border-bottom: thin solid ButtonBorder;
    background-color: Field;
    padding: 0.2rem 0.3rem;
    margin-bottom: 1rem;
}

.pm-font {
    /*  spell: disable */
    font-family: "Old English Text MT", linotext, rudelsburg, goodcitymodern,
        arnoldboecklin, agate, lucidabright, becker, Palatino,
        "Palatino Linotype", Harrington, serif;
    /*  spell: enable */
}

details {
    border-left: thin solid CanvasText;
    padding-left: 0.3rem;
}
summary {
    cursor: pointer;
    background-color: ButtonFace;
}

.node-content {
    margin: 1rem 0;
}

.non-archived {
    font-style: italic;
    color: GrayText;
}

#search {
    margin-top: 1rem;
}

.dark-mode {
    --pagefind-ui-primary: #eeeeee;
    --pagefind-ui-text: #eeeeee;
    --pagefind-ui-background: #152028;
    --pagefind-ui-border: #152028;
    --pagefind-ui-tag: #152028;
}

/* spell: ignore pagefind */